<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="info">
    <Properties>
        <Property name="filename">log/backend.log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{yellow} %highlight{[%-5level] [%t] %c{1} - %msg}{STYLE=Logback}%n"
                           disableAnsi="false "/>
        </Console>
        <File name="File" fileName="log/logging.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%t] %c{1} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="File" level="debug" />
        </Root>
    </Loggers>
</Configuration>
